<section class="relative h-[650px] md:h-[650px]">

<picture>

<source
media="(min-width:768px)"
srcset="/images/desktop/image-hero.jpg"
/>

<img
src="/images/mobile/image-hero.jpg"
class="absolute w-full h-full object-cover"
/>

</picture>

<div class="absolute inset-0 bg-black/40"></div>

<div class="container relative flex items-center h-full">

<div class="border-2 border-white p-6 md:p-10 max-w-[350px] md:max-w-[650px]">

<h1 class="heading text-white text-[36px] md:text-[72px] leading-tight">

IMMERSIVE  
EXPERIENCES  
THAT DELIVER

</h1>

</div>

</div>

</section>